body {
  background-color:white;

}

#board {
  width:400px;
  overflow:hidden;
  margin:50px auto;
}
#board .tile {
  background:blue;
  border: 2px solid black;
  display:block;
  width:100px;
  height:100px;
  float:left;
  text-align: center;
  font-size: 60px;
  color: white;
}
